a{
    font-family: "Raleway", Helvetica, Arial, sans-serif !important;

}

.navbar {
		-webkit-box-shadow: 1px 0.8px 17px #999; 
}
.navbar-brand {
    color: #ffffff !important;
    font-weight: bold;
		font-size: 25px !important;
		font-family: "Raleway", Helvetica, Arial, sans-serif !important
}

#logo{
	margin-top: -9px !important;
  margin-left: -7px;
}

.nav a {
	color: #FFFFFF !important;
    font-weight: bold;
   font-family: "Raleway", Helvetica, Arial, sans-serif;
}

.nav a:hover {
	background-color: #FFFFFF !important;
	color: #009900 !important;
    border-radius: 2px;
    transition: background-color 0.3s ease;
}

.navbar-header .navbar-toggle i{
	color: #ffffff !important;
}

.dropdown-menu a{
	color: #000000 !important;
}


.badge{
	background-color: #FF4500 !important;
}

#btnPublicar{
	background-color: #009900;
	color: #FFFFFF;
	font-weight: bold;
}

#btnPublicar:hover{
	background-color: #FFFFFF;
	transition: background-color 0.3s ease;
	color: #009900;
	font-weight: bold;
}

.panel-heading{
	background-color: #009900 !important;
	color: #FFFFFF !important;
	font-weight: bold;
	font-family: sans-serif !important; 
}
