	<br><br><br><br>
		<div class="col-md-2"></div>
		<div class="col-md-8">
				<div class="panel panel-success">
						<div class="panel-body">
								<div class="input-group">
										<span class="input-group-btn" flow-init flow-name="uploader.flow" flow-files-added="processFiles($files)">
												<button flow-btn type="file" class="btn btn-default" ng-accept=".jpg"><i class="glyphicon glyphicon-camera"></i></button>
										</span>
										<input type="text" class="form-control" placeholder="Publique seu evento..." ng-model="descricao">
										<span class="input-group-btn">
											<button class="btn btn-default" type="button" id="btnPublicar" ng-click="publicar()"><i class="glyphicon glyphicon-ok"></i> Publicar</button>
										</span>
								</div>
						</div>
				</div>
		</div>

	<div  id="publicacoes">
		<div class="container">
			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-md-7 ">
					<h2 class="text-center" style="color:#009900;"><i class="glyphicon glyphicon-globe"></i> Publicações</h2>
						<div class="panel panel-success" ng-repeat="publicacao in publicacoes">
								<div class="panel-heading">
									<img ng-src="{{publicacao.foto}}" class="img-responsive" style="width:33px; height:37px; border-radius:5px;" align="left"/>
									<div>
										<h3 class="panel-title">&nbsp;{{publicacao.nome}}</h3>
										<i style="font-size:10px;">&nbsp;&nbsp;{{publicacao.data}}</i>
									</div>
									
								</div>
							<div class="panel-body" align="center">
									<img ng-src="{{publicacao.fotoPublic}}" class="img-responsive" style="width:430px; height:400px;"/>
							  	<p style="font-weight: bold; font-family: sans-serif;">{{publicacao.descricao}}</p>
							</div>
							<div class="panel-footer">
									<div class="input-group">
										
										<input type="text" class="form-control" placeholder="Comentar publicação...">
											<span class="input-group-btn">
											  <button class="btn btn-warning" type="button">Comentar</button>
											</span>
									</div>
							</div>
						</div>
					</div>
				</div>
		</div>
	</div>
